.img_card {
    height: 30rem;
}
.navcolor{
    background-color: #1B2838;
}

body{
    background-color: #4E697D;
    text-align: center;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.colorbk{
    background-color: #2A475E;
    color: #E1E1DC;
}

.textcolor{
    color: #E1E1DC;
}
#logo{
    height: 3rem;
}


.squad{
    height: 26.5rem;
    width: 15rem;
}

.imgSquad{
    height:12rem;
    width: 15rem;
}
.textApres{
    font-size: small;
}